.placeholder-wrapper {
    position: relative;
    
    
    svg {
        position: absolute;
        top: 50%;  
        left: 50%; 
        transform: translate(-50%, -50%);
    }

    &:hover {
        opacity: 0.5;
        cursor: pointer;
        svg {
            color: white;
            
        } 
        
        
    }
}